<configuration debug="false">

    <property scope="context" name="sensitive_regex" value="(\\d{3,20})"/>

    <conversionRule conversionWord="sensitive_msg" converterClass="com.leaderli.demo.log.LiMessageConvert">

    </conversionRule>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="sensitive" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %sensitive_msg%n</pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>


    <logger name="sensitive" level="error" additivity="false">
        <appender-ref ref="sensitive"/>
    </logger>
</configuration>
